# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl
crash.log

# Ansible secrets
ansible/vars/secrets.yml

# Editor
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
